@import '../colors.scss';



.el-select {
    &.danger {
        .el-input__wrapper {
            box-shadow: 0 0 0 1px #BF1D11 inset !important;
            background-color: #FFD0CDD9 !important;

            .el-input__inner {
                color: #BF1D11 !important;

                &::placeholder {
                    color: #BF1D11 !important;
                }
            }

            .el-select__caret {
                color: #BF1D11 !important;
            }
        }
    }

    &.warning {
        .el-input__wrapper {
            box-shadow: 0 0 0 1px #FACA83 inset !important;
            background-color: #A97F41CC !important;

            .el-input__inner {
                color: #FFBD5D !important;

                &::placeholder {
                    color: #FFBD5D !important;
                }
            }

            .el-select__caret {
                color: #FFBD5D !important;
            }
        }

        .el-input__wrappe.is_focus {
            box-shadow: 0 0 0 1px #FACA83 inset !important;
        }
    }

    .el-input__wrapper {
        box-shadow: 0 0 0 1px #959595 inset !important;
        padding: 2px 10px 2px 10px !important;
        border-radius: 6px !important;
        background-color: #807D7C !important;

        .el-input__inner {
            font-family: 'Inter' !important;
            font-weight: 500 !important;
            font-size: 14px !important;
            color: #FFFFFF !important;
            line-height: 14.52px;

            &::placeholder {
                font-family: "Inter" !important;
                font-weight: 500 !important;
                font-size: 12px !important;
                color: #FFFFFF !important;
            }
        }

        .el-select__caret {
            color: #FFFFFF !important;
            font-size: 14px !important;
        }
    }

    &--small {
        .el-input__wrapper {
            box-shadow: 0 0 0 1px #959595 inset !important;
            padding: 2px 10px 2px 10px !important;
            border-radius: 6px !important;
            background-color: #807D7C !important;

            .el-input__inner {
                font-size: 12px !important;
            }

            .el-select__caret {
                color: #FFFFFF !important;
                font-size: 12px !important;
            }
        }
    }
}

.el-select-dropdown {
    &__item {
        height: 20px !important;
        line-height: 20px !important;
        font-size: 10px !important;
    }

    &__list {
        margin: 1px 0 !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

// Switch

.el-switch {
    &.custom {
        &.is-checked {
            .el-switch__core {
                background: #0F3B7F;

                .el-switch__action {
                    background: #1265E9;
                    left: calc(100% - 33px);

                    &::before {
                        // width: 24px;
                        // height: 24px;
                        // top: 2.5px;
                        // position: absolute;
                        content: url('/@/assets/images/icons/target.svg');
                        /* Active state icon */
                    }
                }
            }
        }

        .el-switch__core {
            background: #444444;
            border: none;
            width: 63px;
            height: 32px;
            border-radius: 22px;

            .el-switch__action {
                position: relative;
                width: 30px;
                height: 30px;
                background: #2C2C2C;

                &::before {
                    width: 24px;
                    height: 24px;
                    top: 2.5px;
                    position: absolute;
                    content: url('/@/assets/images/icons/target.svg');
                    /* Inactive state icon */
                }


            }
        }
    }
}

// Input

.el-input {

    &.greyable {
        .el-input__wrapper {
            border-radius: 7px !important;
            background: rgba(130, 130, 130, 0.75) !important;
            box-shadow: 0px 0.98px 1.96px 0px #1018280D;

            .el-icon {
                color: #000;
            }

            &.is-focus {
                box-shadow: 0 0 0 1px #1265E9 inset !important;
            }
        }

        .el-input__inner {
            color: rgba(235, 235, 235, 1) !important;
            font-family: 'Inter Tight' !important;
            font-size: 14px !important;
            font-weight: 500 !important;
            line-height: 20px;

            &::placeholder {
                color: rgba(235, 235, 235, 1) !important;
                font-family: 'Inter Tight' !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                line-height: 20px;
            }
        }
    }

    &--large {

        height: 40px !important;
    }

}

// Dialog 

.el-dialog {
    border: 3px solid rgba(255, 255, 255, 0.05);

    // border-image-source: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%);

    // margin-top: 3% !important;
    margin: auto !important;
    background-color:
        rgba(76, 76, 76, 0.6) !important;
    backdrop-filter: blur(17px) !important;
    -webkit-backdrop-filter: blur(17px) !important;
    border-radius: 15px !important;

    .el-dialog__close {
        color: #6D6D6D !important;
    }

    &.custom {
        background-color:
            #8B494554 !important;
    }

}
.el-overlay-dialog{
    display: flex;
}
.el-overlay {
    background: #0000008C !important;
}

// Button

.el-button {
    &.greyable {
        padding: 12px 15px !important;
        border-radius: 7px !important;
        background: rgba(130, 130, 130, 0.75) !important;
        border: none !important;
        color: rgba(235, 235, 235, 1) !important;
        font-family: 'Inter Tight' !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 20px;

        &:hover {
            background-color: #1265E9 !important;
        }
    }

    &--large {
        height: 40px !important;
    }

}