@import '../colors.scss';




.el-form {
    .el-form-item {
        &__label {
            margin-bottom: 7px !important;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px !important;
            color: #444444 !important;


        }
    }
}

.el-form-item__error {
    margin-top: 2px !important;
    font-family: 'Inter';
    font-size: 8px !important;
}





// Input

.el-input {
    height: 37px;
    &__inner {
        font-family: Roboto;
        font-weight: 400;
        font-size: 12px !important;
        // height: 37px !important;
    }
    &--small{
        height: 24px;
    }

}

// Dialog 

.el-dialog {
    border: 3px solid rgba(255, 255, 255, 0.05);

    // border-image-source: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05) 50%);

    // margin-top: 3% !important;
    margin: auto !important;
    background-color:
        rgba(76, 76, 76, 0.6) !important;
    backdrop-filter: blur(17px) !important;
    -webkit-backdrop-filter: blur(17px) !important;
    border-radius: 15px !important;

    .el-dialog__close {
        color: #6D6D6D !important;
    }

    &.custom {
        background-color:
            #8B494554 !important;
    }

}

.el-popper {
    box-shadow: 0px 0px 10px 0px #0F0F0F33;
    border: 1px solid #0F0F0F0D;
    padding: 0px !important;
    border-radius: 8px;

    &__arrow {
        display: none;
    }

    .route {
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #666666;
        padding: 12px 12px 12px 14px;
        cursor: pointer;

        &:hover {
            background-color: #F3F3F3;
        }


    }
}

.el-dropdown-menu__item {
    font-family: 'Inter';
    font-size: 12px !important;
    font-weight: 400;
    line-height: 14.52px;
    color: #666666;

}

// Button

.el-button {
    font-family: 'Inter';

    &--large {
        font-size: 12px !important;
        line-height: 14.52px !important;
    }

    &.is-disabled {
        background-color: #E7EAF1 !important;
        border: none !important;
        color: #9DA6B6 !important;
        font-weight: 600;
    }

}