@import '../colors.scss';





.el-form {
    .el-form-item {
        margin-bottom: 24px !important;

        &__label {
            font-family: Onest;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: #A4A4A4 !important;
        }
        &__error{
            margin-top: 4px !important;
        }
    }

    .el-input__inner::placeholder {
        font-family: Onest;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;

        color: #A4A4A4 !important;
    }

    .el-input__wrapper {
        box-shadow: 0 0 0 1px #C3C3C3 inset;
    }

}



.el-popper {
    border-radius: 12px !important;
}

.el-dialog {
    &__close {
        svg {
            fill: #101828 !important;
        }
    }
}

// Input

.el-input {
    height: 37px;
    font-family: Inter;

    &.transparent {
        .el-input__wrapper {
            background-color: transparent !important;
        }
    }

    .el-input__inner::placeholder {
        color: #667085;
    }

    &__inner {
        font-weight: 500;
        font-size: 14px !important;
        // height: 37px !important;
    }

    &--small {
        height: 24px;
    }

    &--large {
        height: 44px !important;
    }

}


// Button

.el-button {
    font-family: 'Inter';

    &--large {
        font-weight: 500;
        font-size: 14px !important;
        line-height:
            17.01px !important;
        height: 44px !important;
    }

    &.is-disabled {
        background-color: #E7EAF1 !important;
        border: none !important;
        color: #9DA6B6 !important;
        font-weight: 600;
    }

}

// TABLE

.el-table {
    tr {
        background-color: transparent !important;
    }

    thead {
        th {
            background-color: #F9FAFB !important;
            padding: 12px 24px !important;
            border-bottom: 1px solid #EAECF0 !important;
            font-family: 'Inter' !important;
            font-size: 12px !important;
            font-weight: 500 !important;
            line-height: 14.06px !important;
            color: #475467 !important;

        }
    }

    tbody {
        tr {
            td {
                padding: 14px 24px !important;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;
                line-height: 15.73px;
                color: #101828;

            }
        }
    }
}


// tag

.el-tag {

    &--info {
        background: #F9FAFB !important;
        border: 1px solid #EAECF0;

        .el-tag__content {
            color: #344054;
        }
    }

    &--success {
        background: #ECFDF3 !important;
        border: 1px solid #ABEFC6;

        .el-tag__content {
            color: #067647 !important;
        }
    }

    font-family: Inter;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 18px;
    // background: #F9FAFB ;
}

// Pagination

.el-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
        background-color: #FFFFFF !important;
        border: 1px solid #D0D5DD !important;
        box-shadow: 0px 1px 2px 0px #1018280D;
        padding: 8px 12px 8px 12px !important;
        border-radius: 8px !important;
        font-family: Inter;
        font-size: 14px !important;
        font-weight: 600;
        line-height: 20px;
    }

    .el-pager {
        .number {
            border-radius: 17px !important;
            height: 28px !important;
        }
    }
}