@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': #000000,
        ),
    ),
    $border-radius: ('base': 10px,
    ),
    //inputs
    $input: ('border': #C3C3C3,
        'bg-color': #ffffff,
        'height': '37px',
        'height-small': 24px,
        'height-large': 48px,
        'text-color': #A4A4A4,
        'placeholder-color': '#C1C1C1',
        'border-radius': '10px',
        'font-size': '14px'
    ),
    $input-padding-horizontal: ('large': 12px,
    ),
    $button: ('height': '37px',
        'height-small': '24px',
        'height-large': '40px',
        'font-size': '12px',
        'text-color': '#333333',
        'font-weight': '400',
        'font-size-large': '12px'
    ));

@use 'element-plus/theme-chalk/src/index.scss' as *;