@font-face {
    font-family: 'Pangram';
    src: url('./Pangram-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pangram';
    src: url('./Pangram-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pangram';
    src: url('./Pangram-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}